p {
    margin: 6px;
    padding: 6px;
    border: 2px solid #e3cf1e;
    width: 100px;
    height: auto;
    background-color: rgba(242, 0, 255, 0.171);
}

.my-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .has-blue-background {
    background-color: #A7DDFF;
    border: 2px solid #e3cf1e;
  }

  .has-yellow-background {
    background-color: #faa7f64b;
    border: 2px solid #e3cf1e;
  }

  footer {
    padding: 45px 1px
  }

  h1 {
    color: #e3cf1e
  }
